*~
*.bak
*.swp

/maghug.X/nbproject/private/
/maghug.X/build/
/maghug.X/dist/
/maghug.X/nbproject/Makefile-*
/maghug.X/nbproject/Package-*.bash

/MAGHUG/*.s#?
/MAGHUG/*.b#?
/MAGHUG/*.l#?

/MAGHUG/*.dri
/MAGHUG/*.gpi
/MAGHUG/*.GBL
/MAGHUG/*.GBO
/MAGHUG/*.GBP
/MAGHUG/*.GBS
/MAGHUG/*.GML
/MAGHUG/*.GTL
/MAGHUG/*.GTO
/MAGHUG/*.GTP
/MAGHUG/*.GTS
/MAGHUG/*.TXT

/MAGHUG/*.epf
/MAGHUG/*.lck

/MAGHUG/*.pro
/MAGHUG/*.job
